In [11]:
import os
import pandas as pd

In [12]:
os.chdir("C:/Users/q0hecjrk/Documents/_Data/Tuolumne/cepsym/event_comparisons/")

In [13]:
event = '1997'
labels = ['baseline', '+2C', '+2C_C-C', 'baseline+2C_C-C']

In [14]:
scenario_dfs = {
    'baseline': pd.read_csv(str(event) + 'Event_baseline.csv'),
    '+2C': pd.read_csv(str(event) + 'Event_+2C.csv'),
    '+2C_C-C': pd.read_csv(str(event) + 'Event_+2C_C-C.csv'),
    'baseline+2C_C-C': pd.read_csv(str(event) + 'Event_baseline+2C_C-C.csv')
}

In [15]:
scenarios_df = pd.DataFrame(columns = ['precip-mm', 'precip-taf', 'rain-taf', 'snow-taf', 'swe-taf', 'inflow_unreg-taf'], index = labels)
for i in range(len(labels)):
    scenario_df = pd.read_csv(str(event) + 'Event_' + labels[i] + '.csv')
    scenarios_df.loc[labels[i]] = [ sum(scenario_df['precip-mm']), sum(scenario_df['precip-taf']), sum(scenario_df['rain-taf']), sum(scenario_df['snow-taf']), sum(scenario_df['swe-taf']), sum(scenario_df['inflow_unreg-af']) / 1000 ]

In [16]:
scenarios_df.head()

,precip-mm,precip-taf,rain-taf,snow-taf,swe-taf,inflow_unreg-taf
baseline,333.685,1168.54,992.013,176.529,6147.39,637.467
+2C,333.685,1168.54,1061.69,106.848,3176.72,793.738
+2C_C-C,377.411,1317.91,1199.42,118.488,3625.36,921.989
baseline+2C_C-C,377.411,1317.91,1122,195.912,6918.33,748.267

In [17]:
for index, row in scenarios_df.iterrows():
    if (index == 'baseline'):
        base = row['inflow_unreg-taf']
    else:
        scenarios_df.at[index,'inflow_change'] = (row['inflow_unreg-taf'] - base) / base

In [18]:
scenarios_df.head()

,precip-mm,precip-taf,rain-taf,snow-taf,swe-taf,inflow_unreg-taf,inflow_change
baseline,333.685,1168.54,992.013,176.529,6147.39,637.467,NaN
+2C,333.685,1168.54,1061.69,106.848,3176.72,793.738,0.245144
+2C_C-C,377.411,1317.91,1199.42,118.488,3625.36,921.989,0.446333
baseline+2C_C-C,377.411,1317.91,1122,195.912,6918.33,748.267,0.173813